h1 {
    font-size: 6em;
    color:rgb(178, 111, 241);
    font-family: 'Times New Roman', Georgia, Times, serif;
    font-style: italic;
    text-align: center;
}
.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
    input{
        width: 3em;
height: 3em;
font-size: 2em;
padding: 0;
font-weight: bold;
border: blueviolet solid 2px;
    }